h1{
    color: red;
}

.calcHolder{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.calculator{
    width: 500px;
    height: 500px;
    background-color: gray;
    display: grid;
    column-gap: 5px;
    row-gap: 5px;
    grid-template-areas: "totalScreen totalScreen totalScreen totalScreen"
                        "clear clear removeButton divide"
                        "btn btn btn multi"
                        "btn btn btn minus"
                        "btn btn btn add"
                        "zero zero zero equals";

}

.btn{
    background-color: orange;
    
}

.totalScreen{
    background-color: red;
    grid-area: totalScreen;


}

.clearButton{
    background-color: blue;
    grid-area: clear;
}

.removeButton{
    background-color: orange;
    grid-area: removeButton;
}

.divide{
    grid-area: divide;
}

.multiButton{
    grid-area: multi;
}

.minusButton{
    grid-area: minus;
}

.addButton{
    grid-area: add;
}

.equalsButton{
    grid-area: equals;
}

.zero{
    grid-area: zero;
}


