h1{
    color: red;
}

.calcHolder{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}

.calculator{
    border: 5px black solid;
    background-color: black;
    display: grid;
    column-gap: 2px;
    row-gap: 2px;
    grid-template-areas: "totalScreen totalScreen totalScreen totalScreen"
                        "clear clear removeButton divide"
                        "btn btn btn multi"
                        "btn btn btn minus"
                        "btn btn btn add"
                        "zero zero zero equals";

}

.btn{
    background-color: white;
    height: 70px;
    font-size: 1.5rem;
    
    
    
    
}

.totalScreen{
    background-color: black;
    grid-area: totalScreen;
     height: 100px;
     width: 400px;


}

.clearButton{
    grid-area: clear;
}

.removeButton{
    grid-area: removeButton;
}

.divide{
    background-color: orangered;
    grid-area: divide;
}

.multiButton{
    background-color: orangered;
    grid-area: multi;
}

.minusButton{
    background-color: orangered;
    grid-area: minus;
}

.addButton{
    background-color: orangered;
    grid-area: add;
}

.equalsButton{
    background-color: orangered;
    grid-area: equals;
}

.zero{
    grid-area: zero;
}


